@charset "UTF-8";


/*css변수 만들기
규칙
--를 변수명 앞에 붙인다.
--변수명: 변수에 넣은 내용;

변수 사용하기
color:var(--변수명)

let 변수명 =20;
*/

:root{
    --main-bg-color:#222;
    --main-div--color:#131313;
    --width: 95%;
    --max-width:1600px;
    --border-redius:20px;
}

*{margin: 0;padding: 0;box-sizing: border-box;}

.image_container{}


li{list-style: none;}

a{text-decoration: none; color: #fff;}

body{font-family: "Poppins", sans-serif;
    background-color: var(--main-bg-color);
    color: #fff;
}

h1{
/*  font-size: clamp(최소값,기본값,최대값); */
    font-size: clamp(32px,7vw,72px);
}

main{
    display: flex;
    flex-direction: column;
    padding: 2rem 0; /* 16px=>1rem */
}

#hero{display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container{
    width: var(--width);
    max-width: var(--max-width);
    flex-wrap: wrap;
    background-color: var(--main-div--color);
    border-top-left-radius: var(--border-redius);
    border-top-right-radius: var(--border-redius);
    border-bottom-left-radius: var(--border-redius);
/*     border-bottom-right-radius: var(--border-redius); */
    padding: 2rem;
}

.bottom_div{
    width: var(--width);
}

.nav_container{
    display: flex; 
    justify-content: flex-end;

}
.nav_container nav{
    width: 450px;   
}

.nav_container nav ul{display: flex; justify-content:space-between;}
.nav_container nav ul li{}
.nav_container nav ul li a{}


.hero_text{margin-bottom: -25px;}
.hero_text .sub_header{display: flex;
    align-items: center; gap: 0.5rem;
} 

.hero_text .sub_header .circle{
    width: 0.5rem;height: 0.5rem;
    background-color: #d6a3e4;
    border-radius: 50%;
    
} 
.hero_text .sub_header .circle h4{
    font-weight: bold;} 

.hero_text .hero_header{width: 80%; margin-bottom: 1erm;}


.hero_text .hero_intro{
    width: 40%; opacity: 0.8;
    
} 



.carousel{
    overflow: hidden;
    position: relative;}

.carousel .left_carousel{ }


.carousel .right_carousel{
    background-color: yellow;
    background: linear-gradient(90deg,var(--main-div--color),transparent);
    width: 30%;
    height: 100%;
    position: absolute;
    left: 0;top: 0;
    z-index: 10;
}


.carousel .left_carousel{
    background-color: yellow;
    background: linear-gradient(-90deg,var(--main-div--color),transparent);
    width: 30%;
    height: 100%;
    position: absolute;
    right: 0;top: 0;
    z-index: 10;

}
.carousel .carousel_inner{

    display: flex; width: 200%;
    animation: marqup 5s linear infinite;
}

.carousel .carousel_inner:hover{
    animation-play-state: paused ;
}
.carousel .carousel_inner .item{
    width: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;}
.carousel .carousel_inner .item img{ width: 60%;}


@keyframes marqup{
    0%{transform: translateX(0);}
    100%{transform: translateX(-50%);}
}



.bottom_div{
    position: relative;
    width: var(--width);
    max-width: var(--max-width);
    padding-top: 30px;

}


.bottom_div .left{
    position: absolute;
    width: 50%;height: 50%;
    top: 0;left: 0;
}
.bottom_div .left .curve{
    position: absolute;
    width: 100%;height: 100%;
    top: 0;left: 0;
    background-color: var(--main-bg-color);
    border-top-right-radius: var(--border-redius);
    z-index: 5;
}
.bottom_div .left .cover{
    position: absolute;
    width: 100%;height: 100%;
    top: 0;left: 0;
    background-color: var(--main-div--color);
}

.bottom_div .right{
    position: absolute;
    width: 50%;
    top: 0;left: 50%;
    background-color: var(--main-div--color);
    border-bottom-left-radius: var(--border-redius);
    border-bottom-right-radius: var(--border-redius);
    padding: 1rem;
}
.bottom_div .right .services{
    width: 100%; padding: 1rem;
    text-align: center;
    background-color: var(--main-bg-color);
    border-radius: calc(var(--border-redius) - 1rem);
}
.bottom_div .right .services h5{}