*{margin: 0;padding: 0;box-sizing: border-box;}
@font-face{
    font-family:Pretendard ;
    src: url('./Pretendard-SemiBold.woff2');
}

.main{position: relative;
    width: 100vw;height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
}
.main .items{
    position: absolute;
    left: 0;top: 0;
    width: 100vw;height: 100vh;
}
.main .items .item{
    position: absolute;top: 0;left: 0;width: 150px;height: 200px;overflow: hidden;
}
.main .items .item img{width: 100%;}
.main h1{
    font-family:Pretendard ;
    font-size: 40px;
    text-transform: uppercase;
}