*{margin: 0;padding: 0;}




.wrap{}
.wrap>div{
    width: 100px;
    height: 100px;
    margin: 50px 0;
    text-align: center;
    line-height: 100px;
}

.하나{background-color: gold;}
.둘{background-color: lightcoral;}
.셋{background-color: lightcyan;}


.넷{background-color: yellow;}