@charset "UTF-8";

*{margin: 0; padding: 0; box-sizing: border-box;}

img{width: 100%; height: 100%; }

.hoverWrap{height: 100vh; position: relative;padding: 20em 0;}
.menu{padding: 20em 0;}
.menu-item{width: 100%; padding: 0 2em;
display: flex; align-items: center;
}
.menu-item p{position: absolute; top: 0; width: 100%;
text-transform: uppercase; letter-spacing: -0.02em; 
 line-height: 1;
}
.menu-item .info,
.menu-item .name,
.menu-item .tag
{position: relative; overflow: hidden;}

.menu-item .info,
.menu-item .tag
{flex:1; height: 14px; line-height: 14px;}

.menu-item .name{flex: 4;
height: 60px; font-size: 60px; text-align: center;
line-height: 1;
}

.menu-item .tag{text-align: right;}

.menu .info p:nth-child(2),
.menu .name p:nth-child(2),
.menu .tag p:nth-child(2){
      top:100%;
      color:#000;
}

.menu:hover .info p:nth-child(1),
.menu:hover .name p:nth-child(1),
.menu:hover .tag p:nth-child(1)
{color:rgb(165,165,165)}


.preview{position: absolute; top: 0; left: 0;
width: 225px; height: 275px; z-index: 10;
pointer-events: none;

}
.preview .preview-img{
    position: absolute; top: 0; left: 0;
width: 100%; height: 100%;
}
.preview .preview-img-2{top: 20px; left: 20px;}

.preview-img img{
    position: absolute;
    top: 0;left: 0;
}
