@charset "UTF-8";
/* ,= 다같이 부르기 */
*{margin: 0; padding: 0;}

.clearfix::after{
    content: "";
    clear: both;
    display: block;}

.container{
    width: 1200px;
    margin: 0 auto;}

html,body{
    font-size: 14px;
    color: #333;}

img{
    width: 100%;}

a{
    color: #333;
    text-decoration: none;
}

li{list-style: none;}


/* 경로 
/ => root자리
./ => 같은 동급
../ => 한단계 올라감 
../../ => 두단계 올라감

절대 경로 위치와 상관 없이 주소값으로 연결
ex)이미지 주소 */

/*     header    */
.header{
    height: 100px;
    border-top: 5px solid #333;
    border-bottom: 1px solid #333;
    box-sizing: border-box;
}
.header h1{
    float: left;
    width: 400px;
    height: 100%;
    padding-top: 27px;
    box-sizing: border-box;
}
.header .gnb{
    float: right;
}
/* (꺽쇠는 직계자식만 부를수 있음) */
.header .gnb>ul{}
.header .gnb>ul>li{
    position: relative;
    float: left;
    width: 150px; height: 94px;
    text-align: center;
    line-height: 94px;
}
.header .gnb>ul>li>a{
    font-size: 18px;
    font-weight: bold; color: #666;
}
.header .gnb>ul>li>a:hover{}

.header .gnb .subemenu{
    display: none; /* 화면에서 사라짐, 애니효과 안걸림 */
    position: absolute;
    top: 94px; left: 0;
    background-color: #fff;
    border: 1px solid #666;
    z-index: 100; /* position이 있어야 적용됨 */
}
.header .gnb .subemenu li{
    height: 40px; line-height: 40px;
}
.header .gnb .subemenu li a{
    width: 150px; display: block; color: #666;
}

.header .gnb .subemenu li a:hover{
    background-color: #ededed; color: #222;
}

/* 📀inline요소 = 공간에 대한 개념이 없음
     inline 요소인데 공간을 인식함 button,img📀 */

/*     header-end    */


/* 부모가 float에 의해 영역이 깨지지 않는 경우
1. 자식이 float일때 그 부모도 float이 있다면 그 부모는 안깨짐
2. 자식이 float일때 그 부모가 position:absolute,fixed라면 부모는 안깨짐 */

/*      main     */
.main{
    
}
.main .container{
    position: relative;
    height: 300px;
    width: 1200px;
    overflow: hidden;    
}
.main ul{position: relative; width: 3600px;
top: 0; right: 0;}
.main ul li{float: left;}
.main ul li a{}
.main ul li a img{}


/*      main-end     */

/*     tab    */
.tab{height: 350px; padding-top: 10px;}
.tab .btn{}
.tab .btn li{float: left;}
.tab .btn li.first{
    position: relative;
    padding-right: 20px;
    margin-right: 20px;
}
.tab .btn li.first::after{content: "";
position: absolute; right: 0; top: 10px;
width: 1px; height: 16px;
background-color: #333;}
/* . 앞에 띄우면 자손 중에 찾기 붙이면 ~이면서 ~인것을 찾는것 */
.tab .btn li a{font-size: 24px;color: #999;font-weight: bold;}
.tab .btn li.active a{color: #333;}



.bwrap{margin-top: 20px;}
.bwrap .best{}
.bwrap .new{display: none;}


.bwrap ul{padding-left: 20px;}
.bwrap ul li{float: left;
    width: 200px; height: 290px;
    margin-right: 30px; text-align: center;}
.bwrap ul li a{}
.bwrap ul li a img{margin-bottom: 10px; transition: 0.3S;}
.bwrap ul li:hover a img{opacity: 0.5;}
.bwrap ul li a p{margin-bottom: 10px;}
.bwrap ul li a del{color: #999;}
.bwrap ul li a span{}

.bwrap ul li.last{margin-right: 0;}

/* contents */
.contents{}
.contents>div{float: left; 
    width: 400px; height: 200px;
    font-size: 12px; box-sizing: border-box;
}
.contents>div.notice{
    padding: 0 20px;
}


.contents>div.notice h2{
    line-height: 50px;
    border-bottom: 1px solid #999;
    font-size: 18px; font-weight: bold;
    box-sizing: border-box;
    height: 50px;
}
.contents>div.notice h2 ul{}
.contents>div.notice ul li{line-height: 30px;
    position: relative;
    overflow: hidden; 
    padding-left: 10px;
    /* float로 인해 깨짐 방지 
    height: 30px; 로 처리도 됨*/ 
}

.contents>div.notice ul li::before{
    content: "";width: 3px;height: 3px;
    background-color: #333;
    position: absolute;
    top: 13px; left: 0;
}
/* 공지사항 같은 앞에 아이콘은 글자가 움직여야함 (padding) */
.contents>div.notice ul li a{float: left; display: block;}
.contents>div.notice ul li .date{float:right; display: block;}


.contents>div.banner{padding: 5px 20px 0;}
.contents>div.now{padding: 5px 20px 0;}

/* footer */
.footer{background-color: #333; color: #fff;}
.footer a{color: #fff; float: right;}

.footer h2{width: 400px; float: left;height: 100px;
        padding-top: 30px; box-sizing: border-box;
}
.footer p{float: left; text-align: center; width: 400px;
height: 100px;line-height: 100px;
}
.footer .snsnv{float: right;height: 100px;}

.footer .snsnv ul{}
.footer .snsnv li{float: left; margin: 0 10px;}
.footer .snsnv li a{line-height: 100px;}

/* popup */

.popup{
    display: none;
    position: fixed;
    /* left: 0;right: 0; 동일*/
    left: 0; width: 100%;
    top: 0; height: 100%;
    z-index: 200;
    background-color: rgba(0,0,0,0.4);
}
.popup>div{
    width: 300px;height: 300px;
    margin: 0 auto;
    top:200px;
    background-color: #fff;
    position: relative;
    padding: 20px;
}
.popup h2{font-size: 18px; margin-bottom: 15px;}
.popup p{font-size: 15px; color: #666;}
.popup .close{
    position: absolute;
    right: 20px; bottom: 20px;
}

