*{margin: 0; padding: 0; box-sizing: border-box;}

.sub{
    position: relative;
    background-color: #f0f0f0;
    width: 100%;
    height: 100vh;
    /* background-image: url(images/noise.gif); */
    background-blend-mode: soft-light;/* 칼라가 흰색이여야한다 */
    overflow: clip;
    border: 10px solid #161616;

}

.sub h1{position: absolute;
top: 40%; left: 50%;
transform: translate(-50%,-50%);
z-index: 1;
color: #fff;
mix-blend-mode: difference;/* 칼라가 흰색이여야한다 */
font-size: 10rem;
letter-spacing: 5px;
pointer-events: none;

}
.sub h3{
    
}

.sub .slider-main{
    position: absolute;
    left: 0; top: 0; width: 200vw;
    box-sizing: border-box;
    height: 100%;
}

.sub .slider-inner-one{
    position: absolute;
    left: 0; top: 10vh;
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: space-around;
}

.sub .slider-inner-two{
    position: absolute;
    left: 40vh; top: 40vh;
    width: 120%; height: 50vh;
    display: flex;
    justify-content: space-around;
}
/* .sub .img{transition: all 0.3s ease-in-out;
width: 400px;
padding-top: 20px;
cursor: pointer;
} */



.sub .listitem{
    position: relative;
    height: 100%;
    transition: all 0.3s ease-in-out;
    width: 400px;
    cursor: pointer;
  }
  

  .sub .listitem img{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .item-card-info{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding: 24px;
    height: 100%;
    background-color: #00000033;
    backdrop-filter: blur(2px);
    transition: 0.3s;
  }
  .item-card-info:hover{
    background-color: #00000067;
    backdrop-filter: none;
  }
  .info-top{
    text-align: center;
    width: 100%;
  }
  .info-link h3{
    text-align: center;
    width: 150px;
    height: 150px;
    line-height: 150px;
    border: 1px solid #fff;
    border-radius: 100%;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .item-card-info .info-link h3:hover{
    background-color: #fff;
    color: #000;
  }
  .info-bottom{
    text-align: center;
    width: 100%;
  }