*{margin: 0;padding: 0;
    box-sizing: border-box;}


.container{background: yellow;
    border: 2px solid #000;
    display: flex;
}
.container .item{
 /* flex에서 자식은 줄어들어라 늘어나지마라
    자식의 부모의 공간에 모두 다 들어간다. */
    background: green;
    border: 2px solid #000;
    width: 25%;}