*{margin: 0;padding: 0;
    box-sizing: border-box;}


.container{background: yellow;
    border: 2px solid #000;}
.container .item{
    background: green;
    border: 2px solid #000;}


.container{
    display: flex;
/*  flex 설정시 itam들은 "줄어들어라, 늘어나지마라" 기본 속성! */
    /* flex-grow:; */
    /* flex-wrap: wrap; */
}

/* 0 --> fales  0를 제외한 나머지 수 -->teue
fales와 teue를 구별할 때 0과 1로 표현함.


flex-grow는 flex-basis보다 커질 수 있는지를 결정, 0보다 큰값이 들어가면 늘어난다. 기본값이 0으로 늘어나지 않음

flex-shrink는 flex-basis보다 작아질수 있는지를 결정, 기본값이 1이므로
flex-basis보다 줄어든다.

flex-shrink: 0;은 flex-basis 

*/
.item{
 /* flex-grow: 1;
    flex-basis: 200px;
    flex-shrink: 0; */
    width: 200px;
    /* flex: auto; */
    /*  기본값, flex-basis가 auto라는 의미는 자식이
    가진공간만큼은 기본적으로 확보함. 
    단축해서 적었을때 flex-basis:-%가 적용됨 */
    
    /* flex: 1; 값을 하나 주었을때 flex-grow가 바뀌는 값이다. 
    flex-shrink: 1;flex-basis: 0%;*/
    /* flex: 1 1 */ ;/* flex-grow: 1;flex-shrink: 1;flex-basis: 0%; */
   /*  flex: 1 200px */;/* flex-grow: 1;flex-shrink: 1;flex-basis: 200px; */

    /* width: 200px; */


}


.header{width: 100px; flex-shrink: 0;}
.banner{width: 60%;}
.content{width: 20%;}