@charset "UTF-8";
*{margin: 0; padding: 0;}
.page {
 
}
.container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.video-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}