*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;color: #666;}
body{padding-top: 100px;}


.aaa{border: 3px solid green;
    width: 400px;margin: 0 auto;
    ul{ /* .aaa ul */
        border: 3px solid gold;
        li{ /* .aaa ul li */
            border-bottom: 1px solid black;
            a{
                &:hover{color: red;}
            }
            &:last-child{background-color: blue;}
        }
    }

    &.active{background-color: cyan;} /* .aaa.active */
}

