*{margin: 0 ;padding: 0;}

body{background-color: #222;padding-bottom: 200vh;   }

.box1{
    position: relative;
    width: 300px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    margin: 100px auto -30px;
}
.box1 .child{
    position: absolute;
    top: 0;left: 0;
    width: 100%;height: 100%;
    background-color: aquamarine;
    color: #fff;
    font-size: 22px;
    line-height: 50px;
    border-radius: 20px;
    /*  
    transition-property: transform ;//무엇을
    transition-duration: 0.5s ;//동안
    transition-timing-function: asecubic-bezier(0, 0.11, 0.52, 1.75);
    transition-delay: 1s;
    기본값.ease */

   /* 축약했을때 시간은 뒤바뀌면 안됨. 0.5s동안 duration 0.9s delay */
    transition: transform 0.5s 0.9s asecubic-bezier(0, 0.11, 0.52, 1.75);

    transition: transform 0.5s 0.5s ease,
            background-color 0.8s ease,
            color 0.5s 0.9s ease;
 
}

.box1:hover .child{
    transform: translateY(-50px);
    background-color: beige;
    color: #222;
}


.box2{
    overflow: hidden;
    width: 400px;font-size: 30px;
color: black; background-color: blue;
text-align: center; margin: 0 auto;
margin-top: 50px;

}

.box2>div{
    transform: translateX(-100%);
    transition: 0.5s;
    transition-timing-function: cubic-bezier(1, 0.24, 0, 0.91);
}

.box2:hover>div{
    transform: translateX(0%);
}

.box2>div.one{transition-delay: 0.3s;}
.box2>div.two{transition-delay: 0.5s;}
.box2>div.three{transition-delay: 0.9s;}

.box3{
    margin: 100px;/*   */
    width: 100px;height: 100px;
background-color: beige;
text-align:center; font-size: 30px;
line-height: 100px;
position: relative;
animation-name: box-ani;/*  keyframes의 이름과 연결한다. */
animation-duration: 2s;/*  애니메이션의 지속시간 */
animation-iteration-count: 3; /*  애니메이션의 반복횟수 숫자, infinite(무한) */

/* 애니메이션의 방향
normal 기본값
alternate 정 역 정
alternate-reverse 역 정 역
reverse - 역방향부터 */

/* animation-direction: alternate;
animation-direction: alternate-reverse;
animation-direction: reverse;
animation-direction: normal; */

/* 애니메이션의 지연시간 */
animation-delay: 1s;/*  1초 후에 애니메이션이 시작됨. */

/* 애니메이션의 가속도 */
/* animation-timing-function: cubic-bezier(0.25, 0.1, 0, 3.03); */

/* 애니메이션이 시작전 끝난후 처리 방법!*/
/* forwards- 애니메이션이 끝난 상태에서 멈춤 
   backwards- 애니메이션이 시작되는 지점을 키프레임의 0%상태에서 시작할수있음
   both=>forwards+backwards
*/
/* animation-fill-mode: both; */

/*축약법 
animation: name duration timing-function delay iteration-count direction fill-mode; */
/* animation: box-ani 2s cubic-bezier(0.25, 0.1, 0, 3.03) 0.5s 3 normal both; */


}

@keyframes box-ani{
/*     from {전체시간에서 시작지 점0%~}
    to {전체지간에서 끝지점 ~100%} */
    from {left: 300px;}
    to {left: 500px;}
      
  }


.box4{
    width: 100px;height: 100px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(1px);/* ->블러처리 */
    text-align:center; font-size: 30px;
    line-height: 100px;
    animation: box-ani2 4s linear 0.5s infinite both;
}

@keyframes box-ani2{
    0%{transform: translate(0,0);}
    25%{transform: translate(200px,0);}
    50%{transform: translate(200px,200px)}
    75%{transform: translate(0,200px)}
    100%{transform: translate(0,0)}
}





.box5{display: flex; gap: 2%;
    margin-top: 300px;
    /* 카메라 위치=> 얼마나 떨어져서 보고 있는가???600~1000정도 */
    perspective: 600px;
}
.box5>div{
    width: 49%;height: 300px;
    background-color: beige;
    position: relative;
}
.box5 .c1{transform-style: preserve-3d;/* 쓸디로 되고있다는 명령을 부모에게 */}
.box5 .c1 .ro{
    position: absolute;
    font-size: 40px;
    left: 50%;top: 30%;
    background-color: grey;
    color: #fff;
    padding: 20px 30px;
    transform: translateZ(200px) rotateY(45deg);
    /* degree각도 */

}

.box5 .c2{display: flex;
justify-content: center;
align-items: center;
text-align: center;
font-weight: bold;
font-size: 45px;
perspective: 600px;
}
.box5 .c2 .top{transform-style: preserve-3d}
.box5 .c2 .top div{
    
    transform: translateY(100%) rotateX(-90deg);
    opacity: 0;
    transition: 1s cubic-bezier(1, 0.02, 0, 2.04);
}

.box5 .c2:hover .top div{
    transform: translateY(0) rotateX(0deg) ;
    opacity: 1;
}
