@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");

*{margin: 0; padding: 0; box-sizing: border-box;}
html,
body {
  overflow-x: hidden;
}
body {
  font-family: "Teko", sans-serif;
  background: #000;
  color: #fff;
  font-size: 22px;
  line-height: 32px;
}
.banner,
.banner-two,
.banner-three,
.banner-four{
  border: 5px solid red;
}
.banner-three{height: 100vh;}
/* .banner, .banner-two { height: 100vh; } */
h1 {
  font-size: 150px;
  line-height: 250px;
}
h2 {
  font-size: 80px;
  line-height: 90px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.overflow {
  overflow: hidden;
}
.col-lg-8,
.col-xl-7 {
  height: 100vh;
}
.container {
  width: 1320px;
  max-width: 1320px;
}
.banner{position: relative;}
/*main-text*/
.main-txt {
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 80%;
  max-width: 2560px;
  margin: 0px auto;
  color: #fff;
  z-index: 1;
}

.banner .col-xl-7,
.banner-three .col-xl-7 {
  justify-content: center;
  -webkit-justify-content: center;
}
.banner-three .col-xl-7{width: 100%;}
.banner-three .row{justify-content: flex-end;}
/*banners section*/
.anime-card {
  position: absolute;
  /* position: fixed; */
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  perspective: 1000px;
  width: 100vw;
  height: 100vh;
}

.anime-card-inner { 
  position: absolute;
/*   position: fixed; */
  transform-style: preserve-3d;
  min-height: 348px;
}

.anime-card-front,
.anime-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;/* 뒤집어지면 안보이게 하는것 */
}
.anime-card-front::after,
.anime-card-back::after,
.main-wallpaper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);/* 사진을 어둡게하는기능 */
  z-index: 1;
}
.main-wallpaper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.anime-card-back {
  transform: rotateY(180deg);
}
.anime-card img {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
}

/*slider section*/
.slider-card {
  height: 100vh;
}
.slider-card .title {
  margin-bottom: 60px;
}
.slider-box {
  width: 95%;
  margin: 0px auto;
}
.slider-left,
.slider-right {
  width: 50%;
  height: 20vw;
  min-height: 350px;
  overflow: hidden;
  position: relative;
}
.slider-left img {
  position: absolute;
  top: 0;
  right: 0px;
  width: 20vw;
  min-width: 350px;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 0px 0px 12px;
}
.slider-right img {
  position: absolute;
  top: 0;
  left: 0px;
  width: 20vw;
  min-width: 350px;
  height: 100%;
  object-fit: cover;
  border-radius: 0px 12px 12px 0px;
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.flex-column {
    flex-direction: column !important;
}

.d-flex {
    display: flex !important;
}
.justify-content-center {
    justify-content: center !important;
}
.col-lg-8, .col-xl-7 {
    height: 100vh;
}

.col-xl-7 {
  flex: 0 0 70%;
  max-width: 70%;
}

.text-center {
    text-align: center !important;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    width: 1130px;
    max-width: 1140px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}