:root {
  --pr-color: #da3417;
  --second-color: #efe8e8;
  --cubicbz: cubic-bezier(.9, 0, .1, 1);
  --index: 35px;
  --fz-big: 70px;
}

* {
  box-sizing: border-box;
  font-family: 'Syne', sans-serif;
  font-weight: 800;
  margin: 0;
  padding: 0;
  font-feature-settings: 'pnum'on, 'lnum'on;
}

body {
  position: relative;

}

body::before {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(https://i.pinimg.com/564x/ef/f5/07/eff507ef4105965211d48f3dc9982273.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(30px);
  transform: scale(2);
  z-index: 1;
}

.wrapp {
  position: relative;
  z-index: 2;
}

.color {
  color: var(-- second-color);
}

.fixed-top- {
  position: fixed;
  width: 100%;
  padding: var(-- index);
  top: 0;
  Left: 0;
  z-index: 3;
}

.title {
  height: auto;
  margin: 0;
  text-align: right;
  font-size: var(--fz-sm);
  Line-height: 1;
  Letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--pr-color);
}

.fixed-footer {
  position: fixed;
  width: 100%;
  height: auto;
  padding: var(-- index);
  bottom: 0;
  Left: 0;
  pointer-events: none;
  z-index: .3;
}

.fixed-footer_wrapp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.fixed-footer_txt {
  position: relative;
  padding-left: 60px;
  color: var(--second-color);
  font-size: var(--fz-sm);
  text-transform: uppercase;
}

.fixed-footer_txt:nth-child(2) {
  text-align: right;
  line-height: .7;
  font-size: 50px;
}

.fixed-footer_img {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.fixed-footer_img img {
  display: block;
  width: 100%;
  height: 100%;
  animation: rotate 9s infinite linear;
}

@keyframes rotate {
  from {
      transform: rotate(0);
  }

  to {
      transform: rotate(-360deg);
  }
}

.animation-title {
  position: fixed;
  height: auto;
  margin: 0;
  padding-top: var(--index);
  padding-left: var(--index);
  top: 0;
  left: 0;
  font-size: var(--fz-big);
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--pr-color);
  z-index: 1;
}

.footer {
  height: 30vh;
  background: #baa0a01a;
  backdrop-filter: blur(10px);
}

/* card */

.section-card {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: var(--index);
  padding-bottom: 80px;
  padding-top: 250px;
  z-index: 2;
}

.cards {
  width: 70%;
  margin: 0 auto;
  padding: 0 50px;
}

.cards_item {
  width: 100%;
  perspective: 500px;
  margin-bottom: 50px;
}

.cards_item:last-child {
  margin-bottom: 0;
}

.cards_el {
  width: 100%;
  height: 400px;
}

.cards_el-wrapp {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 40px;
  padding: 45px;
  border-radius: 20px;
  background: #baa0a01a;
  backdrop-filter: blur(10px);
  will-change: blur;
}

.cards_img {
  width: 40%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.cards_img img {
  display: block;
  width: 120%;
  height: 120%;
  left:-10%;
  top:-10%;
  position: relative;
  object-fit: cover;
}

.cards_txt {
  width: calc(60% - 40px);
}

.cards_el-title {
  margin-bottom: 20px;
  font-size: 35px;
  color: #242126;
  text-transform: uppercase;
}

.cards_el-p {
  color: var(--second-color);
  font-size: 20px;

}
















.end-anim {
  height: 1px;
  margin-top: 50px;
}