*{margin: 0;padding: 0;
    box-sizing: border-box;}


.container{background: yellow;
    border: 2px solid #000;}
.container .item{
    background: green;
    border: 2px solid #000;}


.container{
    display: flex;
    flex-wrap: nowrap;
    height: 80vh;


    /* 아이템들이 2줄 이상일때 수직축 방향 정렬 */
    align-content: stretch; /* 기본값 */
    align-content: flex-start;
    align-content: flex-end;
    align-content: center;
	align-content: space-between;
	align-content: space-around;
	align-content: space-evenly;/* 큔등하게 대등하게 */
}
.item{}
