*{margin: 0;padding: 0; box-sizing: border-box;}

.container{
    background-color: gold;
    border: 2px solid black;
}
.container .item{    
    background-color: skyblue;
    border: 2px solid black;}

/* grid-columns:  grid-row: ;

grid-columns grid-row: 
grid에서는  라인이 있는데 그 라인에는 번호가 있다.
각 셀별로 영역을 지정 할 수 있다. itam(자식)에 지정해 주어야한다.

grid-template-areas
각 영역의 이름을 붙이고, 그 이름을 이용해서 배치하는 방법

빈칸 만들기 - 마침표(.)는 셀이 있는 그 안에는 아무것도 안 채우겠다는 의미,
또는 none이라고 적어도 됨,.....와 같이 마침표를 공백 없이 찍으면 마침표 하나와 같은 역할을 한다.
*/
.container{
    display: grid;gap: 1rem;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-rows: minmax(100px,auto);
    grid-template-areas: 
        /*'abc         header      header'
         abc에 대응하는 것이 없으므로 빈칸 처리 대응 */
        '.            header    header'
        'sidebar-a    main   sidebar-b'
        '...          ...          ...'
        'footer       footer    footer'
    ;
    

}

/* 각 영역에 이름과 매칭을 시켜야 한다.
grid-area: "header";/따옴표 금지 ❌*/
.header{grid-area: header;}
.sidebar-a{grid-area: sidebar-a;}
.sidebar-b{grid-area: sidebar-b;}
.main{grid-area: main;}
.footer{grid-area: footer;}