*{margin: 0;padding: 0;}
li{list-style: none;}

section{height: 100vh;background-color: #000;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
}

.sec01 .title{
    font-size: 120px;
    text-transform: uppercase;
    line-height: 1.1;
}


.sec01 .title span{display: block;}

.sec02 ul{width: 70%;
    display: flex;justify-content: space-between;
}
.sec02 ul li{
    width: 22%;height: 300px; 
    background-color: lightblue;
    border-radius: 20px;
    display: flex;justify-content: center;
    align-items: center;
}

.sec03{position: relative;}
.sec03 .contitle{color: #fff;font-size: 100px;}
.sec03 span{display: block;background-color: lightslategray;
    width: 250px;height: 350px;
    position: absolute;
    left: 50%;top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    color: #333;
    font-family: 30px;
    font-weight: bold;
    /* 가운데정렬 
    display: flex;
    justify-content: center;
    align-items: center;*/

    /* grid 가운데 정렬 */
    display: grid;
    place-items: center;
    }
.sec03 span.a{transform: translate(-50%,-50%) rotate(-12deg);

}
.sec03 span.b{transform: translate(-50%,-50%) rotate(12deg);
    background-color: #ffa1a1;
}
.sec03 span.c{transform: translate(-50%,-50%) rotate(-15deg);
    background-color: #fbffaa;
}
.sec03 span.d{transform: translate(-50%,-50%) rotate(18deg);
    background-color: #9dffbe;
}
.sec03 span.e{transform: translate(-50%,-50%) rotate(-3deg);
    background-color: #6ecaff;
}



