body {
  margin: 0;
  padding: 0;
}

input{
  letter-spacing: 1.3px;
  width: 200px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  bottom: 35px;
  left: calc(50% - 125px);
  background: none;
  font-size: 1rem;
  font-family: arial;
  text-align: center;
  border: none;
  border-bottom: 1px solid rgb(187, 187, 187);
  outline: none;
  background: rgba(255, 255, 255, 0);
  color: rgb(189, 189, 189);
}
