*{margin: 0;padding: 0;}
body{background-color: #222;}
li{list-style: none;}


.one{height: 200px;}
.one ul{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 100%;
}
.one ul li{}
.one ul li a{
    display: block;
    width: 60px;height: 60px;
    background: url(img/icon.png);
    background-position: 0 0;
}
.one ul li:nth-child(2) a{background-position: 0 -60px;}
.one ul li:nth-child(3) a{background-position: 0 -120px;}
.one ul li:nth-child(4) a{background-position: 0 -180px;}

.one ul li:nth-child(1) a:hover{background-position: -60px 0;}
.one ul li:nth-child(2) a:hover{background-position: -60px -60px;}
.one ul li:nth-child(3) a:hover{background-position: -60px -120px;}
.one ul li:nth-child(4) a:hover{background-position: -60px -180px;}


.two{}
.two ul{
    height: 200px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.two ul li{}
.two ul:nth-child(1) li a{
    display: block;
    width: 60px;height: 60px;
    background: url(img/icon.png);
    background-position: 0 -240px;
}
.two ul:nth-child(1) li:nth-child(1) a:hover{background-position: -60px -240px;}
.two ul:nth-child(2) li a{
    display: block;
    width: 43px;height: 43px;
    background: url(img/icon.png);
    background-position: -150px 0;
}
.two ul:nth-child(2) li:nth-child(1) a:hover{background-position: -193px 0px;}
.two ul:nth-child(3) li a{
    display: block;
    width: 17px;height: 17px;
    background: url(img/icon.png);
    background-position: -150px -90px;
}
.two ul:nth-child(4) li a{
    display: block;
    width: 23px;height: 23px;
    background: url(img/icon.png);
    background-position: -150px -120px;
}