@font-face {
  font-family: "InkLipquid";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Freesentation";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'KOTRAHOPE';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* font-family: "Silkscreen", sans-serif; */
/* font-family: "Oswald", sans-serif; */

:root {
  --grey: #3f3f3f;
  --mid-grey: #5e5d5e;
  font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

ul,li{
  list-style: none;
}
html {
  font-size: calc(0.8126951092611863rem + 0.20811654526534862vw);
}

html,
body {
  font-family: 'GmarketSansMedium';
  width: 100%;
  height: 100%;
  background-color: #fff;
}

img {
  width: 100%;
  object-fit: cover;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

/* 🟡progress */
.progress {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10000;
  background-color: #222;
  color: #fff;
  transition: 0.5s cubic-bezier(0.57, 0, 0, 0.99);
}

.preloader {
  display: flex;
  animation: tiltSpin 16s linear infinite;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 17em;
  height: 17em;
}

.preloader,
.preloader__ring {
  transform-style: preserve-3d;
}
.preloader__ring {
  animation-name: spin;
  animation-duration: 8s;
  animation-timing-function: inherit;
  animation-iteration-count: inherit;
  font-size: 2em;
  position: relative;
  height: 3rem;
  width: 1.5rem;
}
.preloader__ring:nth-child(even) {
  animation-direction: reverse;
}
.preloader__sector {
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  transform: translateZ(7rem);
}
.preloader__sector,
.preloader__sector:empty:before {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.preloader__sector:empty:before {
  background: linear-gradient(
    transparent 45%,
    currentColor 45% 55%,
    transparent 55%
  );
  content: "";
}
.preloader__sector:nth-child(2) {
  transform: rotateY(12deg) translateZ(7rem);
}
.preloader__sector:nth-child(3) {
  transform: rotateY(24deg) translateZ(7rem);
}
.preloader__sector:nth-child(4) {
  transform: rotateY(36deg) translateZ(7rem);
}
.preloader__sector:nth-child(5) {
  transform: rotateY(48deg) translateZ(7rem);
}
.preloader__sector:nth-child(6) {
  transform: rotateY(60deg) translateZ(7rem);
}
.preloader__sector:nth-child(7) {
  transform: rotateY(72deg) translateZ(7rem);
}
.preloader__sector:nth-child(8) {
  transform: rotateY(84deg) translateZ(7rem);
}
.preloader__sector:nth-child(9) {
  transform: rotateY(96deg) translateZ(7rem);
}
.preloader__sector:nth-child(10) {
  transform: rotateY(108deg) translateZ(7rem);
}
.preloader__sector:nth-child(11) {
  transform: rotateY(120deg) translateZ(7rem);
}
.preloader__sector:nth-child(12) {
  transform: rotateY(132deg) translateZ(7rem);
}
.preloader__sector:nth-child(13) {
  transform: rotateY(144deg) translateZ(7rem);
}
.preloader__sector:nth-child(14) {
  transform: rotateY(156deg) translateZ(7rem);
}
.preloader__sector:nth-child(15) {
  transform: rotateY(168deg) translateZ(7rem);
}
.preloader__sector:nth-child(16) {
  transform: rotateY(180deg) translateZ(7rem);
}
.preloader__sector:nth-child(17) {
  transform: rotateY(192deg) translateZ(7rem);
}
.preloader__sector:nth-child(18) {
  transform: rotateY(204deg) translateZ(7rem);
}
.preloader__sector:nth-child(19) {
  transform: rotateY(216deg) translateZ(7rem);
}
.preloader__sector:nth-child(20) {
  transform: rotateY(228deg) translateZ(7rem);
}
.preloader__sector:nth-child(21) {
  transform: rotateY(240deg) translateZ(7rem);
}
.preloader__sector:nth-child(22) {
  transform: rotateY(252deg) translateZ(7rem);
}
.preloader__sector:nth-child(23) {
  transform: rotateY(264deg) translateZ(7rem);
}
.preloader__sector:nth-child(24) {
  transform: rotateY(276deg) translateZ(7rem);
}
.preloader__sector:nth-child(25) {
  transform: rotateY(288deg) translateZ(7rem);
}
.preloader__sector:nth-child(26) {
  transform: rotateY(300deg) translateZ(7rem);
}
.preloader__sector:nth-child(27) {
  transform: rotateY(312deg) translateZ(7rem);
}
.preloader__sector:nth-child(28) {
  transform: rotateY(324deg) translateZ(7rem);
}
.preloader__sector:nth-child(29) {
  transform: rotateY(336deg) translateZ(7rem);
}
.preloader__sector:nth-child(30) {
  transform: rotateY(348deg) translateZ(7rem);
}

/* Animations */
@keyframes tiltSpin {
  from {
    transform: rotateY(0) rotateX(30deg);
  }
  to {
    transform: rotateY(1turn) rotateX(30deg);
  }
}
@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(1turn);
  }
}

/*🟡cursor */

.cursor {
  position: relative;
}
.ball {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  backdrop-filter: invert(1) grayscale(1);
  z-index: 1001;
}
.it-cursor-wrapper {
  z-index: 100;
  pointer-events: none;
  mix-blend-mode: difference;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.it-cursor-vertical {
  z-index: 100;
  opacity: 0.15;
  background-color: #fff;
  width: 1px;
  height: 300vh;
  position: absolute;
  transform: translate(15px, -50%);
}
.it-cursor-horizontal {
  z-index: 100;
  opacity: 0.15;
  background-color: #fff;
  width: 300vw;
  height: 1px;
  position: absolute;
  transform: translate(-50%, 15px);
}
.it-cursor-move {
  color: #ccc;
  mix-blend-mode: difference;
  height: 16px;
  margin-left: 16px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 120%;
  display: inline-block;
}

/* header */
header {
  padding-inline: 3vw;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.25),
    inset 0 -4px 20px rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  top: 2.5vw;
  width: calc(100% - 6vw);
  padding: 1em;
  z-index: 100;
}

.logo {
  padding: 10px;
  display: inline-block;
}

.logo a {
  float: left;
  display: inline;
  line-height: 1em;
  font-family: "Freesentation", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  color: #fff;
}

.links {
  display: flex;
  gap: 1em;
  line-height: 1em;
  font-family: 'S-CoreDream-3Light';
}

.links a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5em 1em;
  font-size: 13px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  transition: 0.5s;
}
.links a:hover {
  background-color: #fff;
}
.links a:hover > div {
  color: #000;
  font-weight: 900;
  width: 100%;
}
/* container1 */
.header {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header h1 {
  text-transform: uppercase;
  font-family: "Freesentation", sans-serif;
  font-size: 8vw;
  font-weight: 400;
  color: #fff;
  line-height: 100%;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.video-parent {
  position: relative;
  padding-top: 50%;
  transform: translate(0px, -50%);
  top: 50%;
}

.video-parent video {
  filter: grayscale(1);
  border-radius: 10px;
  width: 100vw;
  height: 100%;
  transform: scale(1);
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.sticky {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.badge-parent {
  z-index: 3;
  width: 10vw;
  color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: auto;
  bottom: -39%;
  left: 91%;
  right: auto;
}

.absolute {
  position: absolute;
}

.heading-sm {
  z-index: 1;
  text-transform: uppercase;
  padding-top: 5px;
  font-family: "InkLipquid", sans-serif;
  font-size: 2vw;
  font-weight: 700;
  line-height: 0.9;
}
.website-content2 {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  height: 100vh;
}

.mouse_bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mouse_s {
  font-family: "Freesentation", sans-serif;
  font-size: 1vw;
  margin-top: 30px;
  letter-spacing: 12px;
  text-indent: 12px;
  color: #ffffff;
  -webkit-animation: colorText 5s ease-out infinite,
    nudgeText 5s ease-out infinite;
  animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;
}

.mouse {
  background: #4e5559
    linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
  position: relative;
  width: 20px;
  height: 50px;
  border-radius: 100px;
  background-size: 100% 200%;
  -webkit-animation: colorSlide 5s linear infinite,
    nudgeMouse 5s ease-out infinite;
  animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
}
.mouse:before,
.mouse:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.mouse:before {
  width: calc(20px - 8px);
  height: calc(50px - 8px);
  background-color: #222a30;
  border-radius: 100px;
}
.mouse:after {
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation: trackBallSlide 5s linear infinite;
  animation: trackBallSlide 5s linear infinite;
}

@-webkit-keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }
  20% {
    background-position: 0% 0%;
  }
  21% {
    background-color: #4e5559;
  }
  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  30% {
    background-color: #4e5559;
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  51% {
    background-color: #4e5559;
  }
  59% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  60% {
    background-color: #4e5559;
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    background-color: #4e5559;
  }
  90%,
  100% {
    background-color: #ffffff;
  }
}

@keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }
  20% {
    background-position: 0% 0%;
  }
  21% {
    background-color: #4e5559;
  }
  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  30% {
    background-color: #4e5559;
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  51% {
    background-color: #4e5559;
  }
  59% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  60% {
    background-color: #4e5559;
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    background-color: #4e5559;
  }
  90%,
  100% {
    background-color: #ffffff;
  }
}
@-webkit-keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-15px);
  }
  6% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  14% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  15%,
  19% {
    opacity: 0;
    transform: scale(0.4) translateY(-15px);
  }
  28%,
  29.99% {
    opacity: 1;
    transform: scale(1) translateY(-15px);
  }
  30% {
    opacity: 1;
    transform: scale(1) translateY(-15px);
  }
  36% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  44% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  45%,
  49% {
    opacity: 0;
    transform: scale(0.4) translateY(-15px);
  }
  58%,
  59.99% {
    opacity: 1;
    transform: scale(1) translateY(-15px);
  }
  60% {
    opacity: 1;
    transform: scale(1) translateY(-15px);
  }
  66% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  74% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  75%,
  79% {
    opacity: 0;
    transform: scale(0.4) translateY(-15px);
  }
  88%,
  100% {
    opacity: 1;
    transform: scale(1) translateY(-15px);
  }
}
@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-15px);
  }
  6% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  14% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  15%,
  19% {
    opacity: 0;
    transform: scale(0.4) translateY(-15px);
  }
  28%,
  29.99% {
    opacity: 1;
    transform: scale(1) translateY(-15px);
  }
  30% {
    opacity: 1;
    transform: scale(1) translateY(-15px);
  }
  36% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  44% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  45%,
  49% {
    opacity: 0;
    transform: scale(0.4) translateY(-15px);
  }
  58%,
  59.99% {
    opacity: 1;
    transform: scale(1) translateY(-15px);
  }
  60% {
    opacity: 1;
    transform: scale(1) translateY(-15px);
  }
  66% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  74% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  75%,
  79% {
    opacity: 0;
    transform: scale(0.4) translateY(-15px);
  }
  88%,
  100% {
    opacity: 1;
    transform: scale(1) translateY(-15px);
  }
}
@-webkit-keyframes nudgeMouse {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(8px);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(8px);
  }
  90% {
    transform: translateY(0);
  }
}
@keyframes nudgeMouse {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(8px);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(8px);
  }
  90% {
    transform: translateY(0);
  }
}
@-webkit-keyframes nudgeText {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(2px);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(2px);
  }
  90% {
    transform: translateY(0);
  }
}
@keyframes nudgeText {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(2px);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(2px);
  }
  90% {
    transform: translateY(0);
  }
}
@-webkit-keyframes colorText {
  21% {
    color: #4e5559;
  }
  30% {
    color: #ffffff;
  }
  51% {
    color: #4e5559;
  }
  60% {
    color: #ffffff;
  }
  81% {
    color: #4e5559;
  }
  90% {
    color: #ffffff;
  }
}
@keyframes colorText {
  21% {
    color: #4e5559;
  }
  30% {
    color: #ffffff;
  }
  51% {
    color: #4e5559;
  }
  60% {
    color: #ffffff;
  }
  81% {
    color: #4e5559;
  }
  90% {
    color: #ffffff;
  }
}
/* waves */
.sec {
  background-color: #000;
  height: 100vh;
  position: relative;
}
.wave1 {
  height: 100vh;
  position: relative;
  background-color: #000;
}
.wave1 .header h1 {
  font-family: 'InkLipquid';
  color: #000;
}
#Vector {
  z-index: 2;
}
#Vector2 {
  z-index: 0;
}
.wave2 {
  height: 18vh;
  position: relative;
  background-color: #000;
}
.svg-container1 {
  z-index: 1;
  position: absolute;
  top: -15vh;
  right: 0;
  left: 0;
}
.svg-container2 {
  z-index: 1;
  position: absolute;
  top: -3vh;
  right: 0;
  left: 0;
}

.svg {
  overflow: hidden;
  position: relative;
  height: 100vh;
  display: grid;
  place-items: center;
}
.text-on-path {
  font-size: 50px;
  fill: #000;
}
.svg svg {
  z-index: 1;
  position: absolute;
  width: 100vw;
  top: -25%;
}

/* section2 */
.website-content2 {
  position: relative;
  height: 100vh;
  /* background-color: #000; */
}
.website-content2 .text_wrap {
  margin-top: 70vh;
  z-index: 1;
  color: #fff;
}

#animationWindow {
  top: 0;
  z-index: 1;
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  margin: 0 auto;
}
/* 텍스트 */
.text-black {
  height: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.heading-large {
  text-transform: uppercase;
  font-family: InkLipquid, sans-serif;
  font-size: 8vh;
  overflow: hidden;
  text-align: center;
  padding-bottom: 50px;
  text-shadow: 5px 5px rgb(0, 0, 0), 5px 5px rgba(255, 255, 255, 0.1),
    10px 10px rgba(255, 255, 255, 0.1);
}

.div-hide {
  line-height: normal;
  position: relative;
  overflow: hidden;
  top: 20vh;
  /* padding-top: 20px; */
}

.div-hide.two {
  margin-right: 0rem;
}

.div-hide.three {
  margin-left: 2rem;
}

.div-hide.four {
  margin-left: -2rem;
}
.div-hide.five {
  margin-left: 8rem;
}

/* section3 */


.website-content3 {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
  overflow: hidden;
  background-size: 50px 50px;
  background-position: center;
  background-image: linear-gradient(
      to right,
      var(--mid-grey) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--mid-grey) 1px, transparent 1px);
}

.website-content3 .container1 {
  position: relative;
  width: 100%;
  height: 100%;
}
.abut_text{
  display: none;
}
.clock {
  font-family: "Silkscreen", sans-serif;
  width: 300px;
  padding: 20px 0;
  top: 80vh;
  left: 1vw;
  text-align: center;
}
.clock .time_box {
}
.clock .time_box .txt_lg {
  font-size: 50px;
  width: 62px;
  display: inline-block;
}
.clock .time_box .txt_sm {
  font-size: 50px;
  width: 35px;
  display: inline-block;
}
.clock .date_box {
  font-size: 15px;
}
.clock .date_box span {
}
.clock .date_box .day {
  display: block;
}

.inpo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inpo .pic {
  position: absolute;
  width: 400px;
  height: 300px;
  right: 0;
  bottom: 40vh;
}
.inpo .pic .star1 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 15px;
  left: 80px;
  animation: blink 3s linear infinite;
}
.inpo .pic .star2 {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 85px;
  right: 50px;
  animation: blink 4s linear infinite;
}
.inpo .name{


}
.inpo .e_m{

}

@keyframes blink {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(360deg);
  }
}



/* content4 */
.website-content4{
  position: relative;
  /* padding: 20px; */
  width: 100vw !important;
  /* overflow: hidden; */
  height: 100vh !important;
  background-color: #1c1c1c;
  box-sizing: border-box;
}

.section-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* margin: 2em 20px; */
  /* padding-bottom: 2em; */
  flex-direction: column;
}
.section-header h1 {
  font-family: "Freesentation";
  font-size: 10vw;
  font-weight: 400;
  color: #fff;
  line-height: 100%;
  text-transform: uppercase;
  padding: 20px;
  padding-bottom: 50px;
}


/* 추가된 CSS */
.menu{overflow: hidden;}
.menu--item {
  font-size: 2em;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  cursor: pointer;
  text-shadow: 5px 5px rgb(0, 0, 0), 5px 5px rgba(255, 255, 255, 0.1),
    10px 10px rgba(255, 255, 255, 0.1);
}
.menu--word{
  color: #fff;
  
}
.section-images{
  position: absolute;
  width: 100%;
  left: 50%;
  /* top: 25%; */
  /* bottom: 0; */
  transform: translateX(-50%);
  overflow: visible;
}
.row {
  overflow: visible;
  display: flex;
  margin-top: 2em;
}

.row img {
  width: 33.333%;
  height: 60vh;
  display: block;
}

/* main_skill */

.website-content5{
  position: relative;
  background-color: #1c1c1c;
  /* width: 100vw; */
  height: 100vh;
}

.uzi-6 {
	--color-text: #fff;
    --color-bg: #000;
    --color-link: #f0f0f0;
    --color-link-hover: #fff;
    --img-maxwidth: none;
}
.skill_content {

	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	isolation: isolate;
}
.skill_content::after {
    background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  content: "";
  position: absolute;
  left: 0;top: 0;
  width: 100%;height: 100%;
  z-index: 200;
}

.content__title {
	font-family: forma-djr-display, sans-serif;
	font-weight: 700;
	position: relative;
	z-index: 999;
	font-size: 10vw;
	-webkit-text-stroke: 2px #ffffff5b;
	-webkit-text-fill-color: transparent;
	color: transparent;
	pointer-events: none;
}

.content__img {
	max-width: var(--img-maxwidth);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	will-change: transform;
	filter: var(--filter-img);
}

.content__img--full {
	width: 100%;
	height: 100%;
	background-size: cover;

}

@media screen and (min-width: 53em) {
	:root {
		font-size: 18px;
	}

}



.main_skill {
  position: relative;
  /* overflow-y: auto; */
  color: #fff;
  font-size: 18px;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 스크롤바 숨기기 */
}

.main_skill.fade {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_skill h1 {
      position: absolute;
    top: -45%;
    left: 50%;
    transform: translate(-50%);
  font-size: 65px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
}
.text-sub{
  position: absolute;
  top: -16%;
  left: 50%;
  transform: translate(-50%);
  text-transform: uppercase;

}
.main_skill p {
  line-height: 1.5;
  padding-bottom: 30px;
}

.main_skill .skillbar-container {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  height: 5px;
}

.main_skill .skills {
  background-color: #fff;
  height: 5px;
  width: 0px;
}

.main_skill i {
  display: inline-block;
  color: #fff;
  font-size: 50px;
  transition: 0.5s;
}

.main_skill i:hover {
  color: #333;
  transform: scale(1.2);
}

.main_skill #skill-bar-wrapper {display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
  max-width: 900px;
}

.main_skill .text-left {
  font-family: 'GmarketSansMedium';
  height: 100%;
  text-align: left;
  font-size: 20px;
  line-height: 20px;
}
.main_skill .text-right {
  font-family: 'GmarketSansMedium';
  height: 100%;
  text-align: left;
  font-size: 20px;
  line-height: 20px;
}

.main_skill .skillbar-container span {
  display: inline-block;
  margin-bottom: 5px;
}


/* main */
main {
  width: 500vw;
  height: 100vh;
}

.main {
  height: 100vh;
}

.mains {
  display: flex;
  height: 100vh;
}

.boxs {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 5vw;
  padding-right: 5vw;
  transform: translate(0,0);
}

.m_b_card {
  cursor: pointer;
  position: absolute;
  height: 60%;
  width: 57%;
  top: 20%;
  left: 67%;
  transform: translateX(-50%);
  z-index: 1;
  border-radius: 24px;
  box-shadow: 0 40px 60px rgba(0, 0, 0, .2);
}
.m_b_card.mov{
  height: auto;
}
.myVideo{
  display: block;
  height: 100%;
  width: 100%;
  z-index: 1;
  border-radius: 15px;
  box-shadow: 0 40px 60px rgba(0, 0, 0, .2);
}
.myVideo video{
  width: auto;
  height: 100%;
}
.m_b_blur{
  position: absolute;
  backdrop-filter: blur(2px);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.m_box1 {
  background:  url(../img/flip-bg.jpg);
  background-size: cover;
}
.m_box2 {
  background:  url(../img/magma-bg.png);
  background-size: cover;
}
.m_box3 {
  background:  url(../img/sushi-bg.png);
  background-size: cover;
}
.m_box4 {
  background:  url(../img/cy-bg.png);
  background-size: cover;
}
.m_box5 {
  background:  url(../img/mu-bg.jpg);
  background-size: cover;
}


.m_box1 .m_b_card{

}
.m_box2 .m_b_card{
  background-size: cover;
  background-position: top;
  transition: 0.8s;
}

.m_box3 .m_b_card{
  background: url(../img/sus0hi-pc.png) no-repeat ;
  background-size: cover;
  background-position: top;
  transition: 0.8s;
}
.m_b_card:hover{
  background-position: bottom;
}
.m_b_index {
  /* z-index: 10; */
  /* pointer-events: none; */
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding-left: 3vw;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 14vh;
  padding-bottom: 8vh;
  top: 0;
  /* flex: none; */
  /* padding-right: 5vw; */
  /* width: 100vw; */
  /* height: 100%; */
  /* display: flex; */
  /* align-items: flex-start; */
}


.it-container.portfolio {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: none;
  height: 100%;
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: flex;
  position: relative;
  top: 0;
}
.it-portfolio-index {
  display: flex;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: column;
}
.it-h3.portfolio {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}
.it-portfolio-heading {
  text-transform: uppercase;
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  line-height: 120%;
}

.it-text-body{
  width: 205px;
  display: grid;
	grid-template-columns: repeat(2, minmax(100px, auto));
  gap: 5px;
}
.it-text-body>li.log { grid-column: auto / span 2; }
.it-text-body>li{
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5em 1em;
  font-size: 13px;
  color: #fff;
  border: 1px solid #fff;
  background-color: #ffffff4a;
  border-radius: 10px;
  transition: 0.5s;
}
.it-portfolio-box{}

.it-box{
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.it-box-m{
  cursor: pointer;
  background-color: #fff;
  height: 20vh;
  border-radius: 10px;
  box-shadow: 0 40px 60px rgba(0, 0, 0, .2);
  transition: 3s;
}
.it-box-t{
  cursor: pointer;
  background-color: #fff;
  height: 25vh;
  border-radius: 15px;
  box-shadow: 0 40px 60px rgba(0, 0, 0, .2);
  transition: 2s;
}
.m_box3 .it-box-m{width: 8vw;}
.m_box3 .it-box-t{width: 20vw;}
.m_box3 .it-box-m{background-image: url(../img/sushi-m.png);
  background-size: cover;
  background-position: top;}
.m_box3 .it-box-t{background-image: url(../img/sushi-t.png);
  background-size: cover;
  background-position: top;}
.it-box-m:hover,.it-box-t:hover{
  background-position: bottom;
}


  
.it-portfolio-btn {
  position: absolute;
  bottom: 2vw;
  left: 8vw;
  
}

.it-portfolio-btn p i{
  animation: right 1s alternate infinite;
}
@keyframes right {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}



/* sub */

.sub{

}

.sub .list{
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding: 10vh 5vw;
}

.sub .list .listitem{
  position: relative;
  background-color: #000;
  height: 30vw;
  transition: 0.5s;
  
}
.sub .list .listitem:nth-child(2n+1) {
  margin-top: 60px;
  margin-bottom: 80px;
}
.sub .list .listitem:hover{
  transform: scale(0.9);
}
.sub .list .listitem img{
  position: absolute;
  height: 100%;
}
.item-card-info{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding: 24px;
  height: 100%;
  background-color: #00000033;
  backdrop-filter: blur(2px);
  transition: 0.3s;
}
.item-card-info:hover{
  background-color: #00000067;
  backdrop-filter: none;
}
.info-top{
  text-align: center;
  width: 100%;
}
.info-link h3{
  text-align: center;
  width: 150px;
  height: 150px;
  line-height: 150px;
  border: 1px solid #fff;
  border-radius: 100%;
  transition: 0.5s;
  cursor: pointer;
}

.item-card-info .info-link h3:hover{
  background-color: #fff;
  color: #000;
}
.info-bottom{
  text-align: center;
  width: 100%;
}



/* main_hero 섹션 */
.main_hero {
  position: relative;
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  font-family: 'KOTRAHOPE', sans-serif;
}

/* 이미지 그리드 */
.heros {
  --big-tile-size: 50vmin;
  --scale: 0.4;
  --rotation: 270deg;
  --tile-size: calc(var(--big-tile-size) / 3);
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 1vmin;
  grid-template: repeat(9, var(--tile-size)) / repeat(9, var(--tile-size));
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(var(--scale));
  z-index: 1;
}

.heros > li {
  padding: 0;
  position: relative;
  background: hsl(0 0% 75% / 0.2);
  max-inline-size: 100%;
  grid-column: var(--x1, auto) / var(--x2, auto);
  grid-row: var(--y1, auto) / var(--y2, auto);
  border-radius: var(--radius-3);
  overflow: hidden;
}

.heros > li > img {
  --rotation: -270deg;
  --scale: 1;
  height: 200%;
  min-width: 200%;
  aspect-ratio: 1;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 히어로 섹션 */
.main_hero .hero {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: white;
  text-align: center;
  z-index: 10;
}

.hero__inner {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.hero__headline {
  --padding: 1.5vmin;
  --duration: 800ms;
  --delay: calc(var(--duration) / 2);
  --ease: cubic-bezier(0.25, 1, 0.5, 1);
  position: relative;
  display: inline-block;
  font-size: 10vmin;
  overflow: hidden;
  margin-top: calc(var(--padding) * -1);
  padding: var(--padding);
}

.hero__headline::after {
  content: "";
  position: absolute;
  top: calc(100% - var(--padding));
  left: 0;
  background-color: #47c4ea;
  width: 100%;
  height: 1.5vmin;
  transform: scaleX(0);
  transition: transform var(--duration) var(--delay) var(--ease);
}

.hero__headline span {
  display: block;
  transform: translateY(120%);
  transition: transform var(--duration) var(--ease);
}

.hero__headline > span > h3 {
  margin: 0;
  padding: 0;
  line-height: 1;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

.active .hero__headline::after {
  transform: scaleX(1);
  transition-delay: 0.1s;
}

.active .hero__headline span {
  transform: translateY(0);
  transition-delay: var(--delay);
  /* font-family: 'InkLipquid', sans-serif; */
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: .25em;
}

/* 스크롤 안내 */
.directions-container {
  position: fixed;
  z-index: 1000;
  top: 5%;
  left: 15%;
  display: flex;
  justify-content: center;
  font-family: 'InkLipquid',sans-serif;
  font-size: 3em;
  flex-direction: column;
  align-items: center;
  transform: rotate(-15deg);
  margin-bottom: 0.5em;
  color: #000;
}

.arrow {
  font-size: 2em;
  font-family: 'Kalam', cursive;
  color: #47c4ea;
  display: inline-block;
}

.directions-container p {
  margin: 0;
  padding: 0;
  line-height: 1.25;
  display: inline-block;
}

.arrow-01 {
  transform: rotate(90deg);
}

.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  top: 20vh;
  /* margin-left: 30px; */
  /* margin-top: 5px; */
  transform: rotate(-15deg);
}

@keyframes floating {
  from { transform: translate(0,  0px) rotate(-15deg); }
  65%  { transform: translate(0, 15px) rotate(-15deg); }
  to   { transform: translate(0, -0px) rotate(-15deg); }    
}


/* footer */

footer {
  height: 50vh;
  margin: 0;
  position: relative;
  z-index: 1;
}

footer::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(https://img.freepik.com/free-photo/background-paint-still-life_23-2149104102.jpg?t=st=1721023177~exp=1721026777~hmac=f8f28a5e7422dcee3942c36944bed1b0c497b4c6e14dd299aab6e6b47a2ac503&w=1380);
  background-size: cover;
  background-position: center;
  filter: brightness(0.25);
  inset: 0;
  z-index: -1;
}

footer .fooyer_ber {
  z-index: -10;
  --footer-background:url(../img/bi.png);
  background-position: center;
  display: grid;
  position: relative;
  grid-area: footer;
  /* min-height: 12rem; */
}
footer .fooyer_ber .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}
footer .fooyer_ber .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
          animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}

@-webkit-keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@-webkit-keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}


.marquees {
  align-content: center;
  height: 100%;
  display: grid;
  gap: 5vw;
  overflow: hidden;
  /* top: -50%; */
  bottom: 0%;
  position: relative;
}

.marquee {
  --marquee--colour: #47c4ea;
  --marquee--repeat-count: 6;
  --marquee--base-duration: 1s;
  --marquee--repeat-size: calc(100% / var(--marquee--repeat-count));
  --marquee--double-size: calc(var(--marquee--repeat-size) * 2);
  --marquee--duration: calc(
    var(--marquee--base-duration) * var(--char-count, 20)
  );
  overflow: hidden;
  width: 110%;
  margin-left: -5%;
  mix-blend-mode: screen;
  /* transform: rotate(-5deg); */
  background: var(--marquee--colour);
  color: #000;
}

.marquee:nth-child(even) {
  --marquee--direction: -1;
  /* transform: rotate(5deg); */
  background: #000;
  color: var(--marquee--colour);
  margin-top: 50px;
}

.marquee p {
  transform: translateY(-0.05em);
  font-weight: bold;
  margin: 0;
  display: flex;
  gap: 0.5em;
  line-height: 1.1;
  font-size: clamp(2.5rem, 12vw, 6.2rem);
  font-family: "Oswald",'GmarketSansMedium', sans-serif; 
}

.marquee p::after {
  content: "*";
  transform: translateY(0.175em);
}

.marquee p::before {
  content: "";
}

.marquee--inner {
  width: max-content;
  display: flex;
  text-transform: uppercase;

}





.footer_icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 60vw;
  display: flex;
  flex-direction: column;
}
.footer__title{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer_icon span{
  font-size: 15px;
}
.footer_icon ul{
  display: flex; 
  justify-content: center; 
  gap:50px;
  padding-top: 20px;
  
}
.footer_icon ul li{
  position: relative;
}

.footer_icon ul li a{
  color: #fff;
  font-size: 35px;
  /* background-color: #3192bf;  */
  display: inline-block;
  width: 60px; height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  transition: 0.3s; 
}

.footer_icon ul li:hover a{
  background-color: #fff;
  transform: scale(1.3);
  color: transparent;
  -webkit-text-stroke: 1px #3192bf;
}

.footer_icon ul li a i{
  padding-top: 10px;

}

.footer_icon ul li:hover {
  animation: shake 0.5s ease; 
}

.text{
	width: 100%;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 30px;

}
.text .typing{
	display: inline;
}
.text .cursors{
	display: inline-block;
	font-weight: bolder;
	
	-webkit-animation: blink .5s infinite linear;
	
	        animation: blink .5s infinite linear;
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-5px);
  }
  20%, 80% {
    transform: translateX(5px);
  }
  30%, 50%, 70% {
    transform: translateX(-3px);
  }
  40%, 60% {
    transform: translateX(3px);
  }
}
/* 
@-webkit-keyframes blink{
	0%{
		opacity: 1;
	}
	99%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes blink{
	0%{
		opacity: 1;
	}
	99%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
 */
