*{margin: 0;padding: 0; box-sizing: border-box;}

.container{
    background-color: gold;
    border: 2px solid black;
}
.container .item{    
    background-color: skyblue;
    border: 2px solid black;}


/* auto fill

-자동채우기
columns의 개수를 정하지 않고 설정된 너비가 허용하는 한 최대한 셀을 채움 */

.container{display: grid;
    grid-template-columns: repeat(3,minmax(20%,auto));
    grid-template-columns: repeat(auto-fill,minmax(20%,auto));
    grid-template-columns: repeat(auto-fill,minmax(200px,auto));
    /*  빈공간을 채우고자 한다면 200px 기준으로 auto-fill를 사용하면 갯수가 채워지나
    빈공간을 채위기 위해서는 auto-fit 을 사용 해야 한다.*/
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    /*  갯수가 많을때는 auto-fill,auto-fit 자이가 없음 */
    /* gap: 그리드 사이의 공간. */

}
.container .item{font-size: 30px;}